<h3>Add Stylist Name</h3>

<form action="/stylists" method="post">
  <label for="stylist">Stylist Name</label>
  <input type="text" name="stylist" id="stylist">
  <button type="submit" class="btn">Add Stylist</button>
</form>

<h4>Stylists</h4>
<p>
  CLick on a stylist to view their client list or add clients.
</p>
<ul>
  #foreach ($stylist in $stylists)
    <li><a href="/stylists/$stylist.getId()">$stylist.getName()</a></li>
  #end
</ul>
<!-- <a href="/stylists/new">Add New Category</a> -->
