<h3>Add stylist name</h3>

<form action="/stylists" method="post">
  <label for="stylist"></label>
  <input type="text" name="stylist" id="stylist">
  <button type="sumbit" name="addStylist"></button>
</form>
